In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

In [2]:
df = pd.read_csv('diamonds.csv')
df

,id,url,shape,price,carat,cut,colour,clarity,report,type,date_fetched
0,10086429,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
...,...,...,...,...,...,...,...,...,...,...,...
119100,10081678,https://www.brilliantearth.com//lab-diamonds-s...,Round,99040,5.71,Super Ideal,D,VVS2,GCAL,lab,2020-11-29 12-26 PM
119101,9521564,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,107330,15.32,Very Good,G,SI2,IGI,lab,2020-11-29 12-26 PM
119102,9896730,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,110110,10.05,Ideal,D,SI2,IGI,lab,2020-11-29 12-26 PM
119103,9756570,https://www.brilliantearth.com//lab-diamonds-s...,Oval,126030,10.33,Fair,D,VS2,IGI,lab,2020-11-29 12-26 PM
119104,9293400,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,141710,10.25,Good,E,VS1,IGI,lab,2020-11-29 12-26 PM

In [3]:
pivot_table = df.pivot_table(values = 'carat', aggfunc = 'mean', index = 'colour', columns = 'clarity')
pivot_table

clarity        IF       SI1       SI2       VS1       VS2      VVS1      VVS2
colour
D        0.637221  0.600445  0.787750  0.644367  0.589721  0.631377  0.657140
E        0.511844  0.657685  0.804910  0.857326  0.712663  0.587633  0.716481
F        0.528435  0.773743  0.844107  0.910346  0.820818  0.621781  0.788692
G        0.563286  0.893470  1.027497  1.022403  0.982433  0.699588  0.857280
H        0.599926  0.982038  1.145557  1.055472  1.052510  0.751707  0.897407
I        0.616454  1.240961  1.305366  1.185557  1.283624  0.813594  1.058660
J        0.779750  1.360078  1.318524  1.392591  1.408297  0.828388  1.181132

In [4]:
pivot_table = pivot_table[['SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']]
pivot_table

clarity       SI2       SI1       VS2       VS1      VVS2      VVS1        IF
colour
D        0.787750  0.600445  0.589721  0.644367  0.657140  0.631377  0.637221
E        0.804910  0.657685  0.712663  0.857326  0.716481  0.587633  0.511844
F        0.844107  0.773743  0.820818  0.910346  0.788692  0.621781  0.528435
G        1.027497  0.893470  0.982433  1.022403  0.857280  0.699588  0.563286
H        1.145557  0.982038  1.052510  1.055472  0.897407  0.751707  0.599926
I        1.305366  1.240961  1.283624  1.185557  1.058660  0.813594  0.616454
J        1.318524  1.360078  1.408297  1.392591  1.181132  0.828388  0.779750

In [5]:
def f(origin):
    plt.figure(figsize = (6,4), dpi = 100)
    if origin == 'All':
        sns.heatmap(pivot_table, cmap = 'mako')
    elif origin == 'Lab':
        new_df = df[df['type'] == 'lab']
        lab_pivot = new_df.pivot_table(values = 'carat', aggfunc = 'mean', index = 'colour', columns = 'clarity')
        lab_pivot = lab_pivot[['SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']]
        sns.heatmap(lab_pivot, cmap = 'mako')
    else:
        new_df = df[df['type'] == 'natural']
        natural_pivot = new_df.pivot_table(values = 'carat', aggfunc = 'mean', index = 'colour', columns = 'clarity')
        natural_pivot = natural_pivot[['SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF']]
        sns.heatmap(natural_pivot, cmap = 'mako')


interact(f, origin = ['All', 'Lab', 'Natural'])
plt.show()

interactive(children=(Dropdown(description='origin', options=('All', 'Lab', 'Natural'), value='All'), Output()…

## 2
 Note - The plot takes some time to highlight the names

In [6]:
df = pd.read_csv('names.csv')

colors = ['#206095', '#004662', '#A8BD3A', '#27A0CC', '#118C7B', '#F66068']

def main_plot(names, gender):
    
    # new_df is based on the given gender
    new_df = df[df['sex'] == gender]
    

    sns.set_style("whitegrid")
    fig, ax = plt.subplots(figsize=(10, 8))
    

    # top 100 names in year 2020
    top_100_df = new_df[new_df['year'] == 2020].head(100)
    top_100_name = top_100_df['name'].str.strip()
    for name in top_100_name:
        
        ax.plot(new_df[new_df['name'].str.strip() == name]['year'],
                new_df[new_df['name'].str.strip() == name]['rank'],
                color='lightgrey', alpha=0.5)
        
    df2 = new_df
    df2['name'] = new_df['name'].str.strip()
    
    

    # name_str will hold the names that the user inputs and will pass them to new_list based on '' space
    name_str = ''
    new_list = []
    for name in names:
        if name != '':
            name_str = name_str + name
        else:
            name_str = name_str + " " + name
    
    new_list = name_str.split()
    
    if len(new_list) > 0 and len(new_list) <= 6:
        i = len(new_list)
        # this if condition means the plot will highlight only 6 names
        if i <= 6 :
            j = 0
            while j < len(new_list):
                print(new_list[j])
                # For understanding the whole plot easily I am printing all the name. It will print max 6 names as per
                # the requirement. If the user provides another name then it won't print and thus won't highlight the name
                # That is why I am printing the names on which the plot will be highlighted
                # converting the name to uppercase will maintain name insensitivity
                ax.plot(df2[df2['name'] == new_list[j].upper()]['year'],
                        df2[df2['name'] == new_list[j].upper()]['rank'],
                        color=colors[j], linewidth=2, label = new_list[j].upper())
                ax.scatter(df2[df2['name'] == new_list[j].upper()]['year'],
                           df2[df2['name'] == new_list[j].upper()]['rank'],
                           color = colors[j])
                ax.legend(loc = 'lower right')
                j = j + 1
            i = i + 1
    
    ax.invert_yaxis()
    ax.set_title('Popularity ranking(1 being the most popular)')
    ax.set_xlabel('')
    ax.set_ylabel('')
    ax.set_yticks([1, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])
    ax.set_xticks(range(1996, 2021, 2))
    
    ax.grid(axis='x')
    sns.despine(left=True, right=True, top=True)
    
#widgets
names_box = widgets.Text(value='', placeholder='Enter names separated by space', description='Names:', disabled = False)
buttons = widgets.ToggleButtons(options=['boy', 'girl'], description = '', button_style='info')
final_plot = widgets.interactive_output(main_plot, {'names': names_box, 'gender': buttons})

display(widgets.VBox([buttons, names_box]))
display(final_plot)

## Note - the plot takes some time to show all the lines of the name

VBox(children=(ToggleButtons(button_style='info', options=('boy', 'girl'), value='boy'), Text(value='', descri…

Output()